.button {
  border: 1px solid #aaa;
  border-radius: 0px;
  background-color: transparent;
  color: #fff;
  padding: 1px 15px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.button:hover:not(:disabled) {
  border-color: transparent;
  background-color: #aaa;
  color: #212;
}

.buttonPrimary {
  border-color: #9266cc;
  color: #fff;
}

.buttonPrimary:hover:not(:disabled) {
  background-color: #9266cc;
  color: #fff;
}
